@use './styles/tokens' as tokens;
@use './styles/layout' as layout;
@use './styles/components' as comps;

body {
  font-family: tokens.$font-palo;
  background-color: tokens.$color-surface;
  margin: 0;
}

:root {
  color: tokens.$color-base;
}

.container {
  @include layout.section-wrapper;
}
